<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook fa-2xl" style="color: #1221f3;"></i>
            <i class="fa-brands fa-square-instagram fa-2xl" style="color: #e51549;"></i>
            <i class="fa-brands fa-linkedin fa-2xl" style="color: #206ae9;"></i>
            <i class="fa-brands fa-square-whatsapp fa-2xl" style="color: #05c555;"></i>
        </div>
        <div> &copy Wonderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>



<!-- <footer>
    <div class="container-fluid bg-warning p-5 ">
        <div class="row">
            <div class="col-4">
                <h2>Links
                <i class="fa-solid fa-link " style="color: #0b62f9;"></i> </h2>
                <div class="row">
                    <div class="col-6">
                     <ul>
                        <li>Google</li>
                        <li>yahoo</li>
                        <li>facebook</li>
                     </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Home</li>
                            <li>Home</li>
                            <li>Home</li>
                         </ul>
                        
                    </div>

                </div>
            </div>
            <div class="col-4">
               <h3>Contact With Us  <i class="fa-solid fa-thumbs-up " style="color: #2d69d2;"></i></h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id.</p>
               <span>
                <i class="fa-brands fa-facebook fa-2xl ps-3" style="color: #13097c;"></i>
                <i class="fa-brands fa-twitter fa-2xl px-1" style="color: #031441;"></i>
                <i class="fa-brands fa-linkedin fa-2xl px-1" style="color: #359ae7;"></i>
                <i class="fa-brands fa-youtube fa-2xl px-1" style="color: #e30202;"></i>
            </span>
            </div>
            <div class="col-4">
               <span> <h3>Subscribe</h3>
                <i class="fa-solid fa-envelope fa-2xl" style="color: #1366ff;"></i>
                </span> subscribe 
                <div class="mb-3 mt-3">
                    
                    <form class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username@gmail.com</label>
                          <div class="input-group">
                            <div class="input-group-text"><i class="fa-solid fa-envelope " style="color: #000000;"></i></div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username@gmail.com">
                          </div>
                        </div>
                     
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                  </div>
                
            </div>
        </div>
    </div>
  </footer> -->